
body {
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
    min-height: 100%;
    margin:0;
}
.parallax1 {
    background: url("../images/bar.jpeg");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
}

header {
    color: white;
    width: 100%;
}

header > * {
    position: fixed;
}

.logo h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 1.4rem;
}
/*kolor do zmiany poźniej!!!*/
.logo h2 .black{
    color: black
}

.logo img {
    height: 10vh;
}

 .booking {
    top: 3vh;
    left: 70vw;
     font-weight: bold;
    font-size: 2rem;
    color:white;
     text-decoration: none;
}

.booking:hover{
    color:darkgoldenrod;
    transition: all .5s ease-out;
}

/*kolor do zmiany później!!!*/
 .booking .black{
    color:black;
}

.page-about{
    max-width: 1080px;
    margin: 0 auto;
    display: block;
}

.page-about img{
    width:350px;
    height: 350px;
}



.parallax2 {
    background: url("../images/food.jpg");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    background-attachment: fixed;
    height: 350px;
    width: 100%;
}

.parallax3 {
    background: url("../images/party.jpeg");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    background-attachment: fixed;
    height: 350px;
    width: 100%;
}