
body {
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
    min-height: 100%;
    margin:0;
}
.parallax1 {
    background: url("../images/bar.jpeg");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
}

header {
    color: white;
    width: 100%;
}

header > * {
    position: fixed;
}

.logo h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 1.4rem;
}
/*kolor do zmiany poźniej!!!*/
.logo h2 .black{
    color: black
}

.logo img {
    height: 10vh;
    z-index: 5;
    position: absolute;
}

.nav-list {
    display: flex;

}


.nav-list-link {
    padding: 20px;
    text-decoration: none;
    color: white;
}

.icon{
    width: 30px;
}

.page-about{
    max-width: 1080px;
    margin: 0 auto;
    display: block;
}

.page-about img{
    width:350px;
    height: 350px;
}



.parallax2 {
    background: url("../images/food.jpg");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    background-attachment: fixed;
    height: 50vh;
    width: 100%;
}

.page-specials{
    margin-top: 10vh;
    margin-bottom: 10vh;
    height: 100vh;
}


.page-specialsImage{
    position: absolute;
    z-index: 1;
    overflow: hidden;
}

.page-specialsImage img{
    backface-visibility: hidden;
}

.page-specialList{
    position: absolute;
    z-index: 2;
    background: white;
    padding: 7vh 7vw 10vh 23vw;
}










.parallax3 {
    background: url("../images/party.jpeg");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    background-attachment: fixed;
    height: 50vh;
    width: 100%;
   padding-top: 10vh;
}



.wrapper{
    width: 70%;
    max-width: 1300px;
    margin:0 auto;
    display: flex;
}

.fb {
    width: 60px;
}

.insta{
    width:70px;
}

.trip{
    width: 73px;
}