
body {
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
    min-height: 100%;
    margin:0;
}
.parallaxEvent {
    background: url("../images/event.jpeg");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    background-attachment: fixed;
    height: 50vh;
    width: 100%;
}


header > * {
    position: fixed;
    color:white;
}

.logo {
    font-family: 'Dancing Script', cursive;
    font-size: 1.4rem;
}

.logoIcon {
    height: 10vh;
    margin-top: 5vh;
    z-index: 7;
    position: absolute;
}

.page-nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.nav-list{
    display: flex;
}

.nav-list-link{
    padding: 20px;
    text-decoration: none;
    color:white;
}

.nav-list-link:hover{
    color:darkgoldenrod;
}

.nav-list-icon{
    display: flex;
    justify-content: space-between;
}

.nav-list-icon li{
    width: 2vw;
    display: inline-block;
}