
body {
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
    min-height: 100%;
    margin:0;
}

/*header*/

.parallax1 {
    background: url("../images/bar.jpeg");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
}


header > * {
    position: fixed;
    color:white;
}

.logo {
    font-family: 'Dancing Script', cursive;
    font-size: 1.4rem;
}

.logoIcon {
    height: 10vh;
    margin-top: 5vh;
    z-index: 7;
    position: absolute;
}

.page-nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.nav-list{
    display: flex;
}

.nav-list-link{
    padding: 20px;
    text-decoration: none;
    color:white;
}

.nav-list-link:hover{
    color:darkgoldenrod;
}

.nav-list-icon{
    display: flex;
    justify-content: space-between;
}

.nav-list-icon li{
    width: 2vw;
    display: inline-block;
}
/*page-about*/

.page-about{
    max-width: 1080px;
    width: 70%;
    margin: 0 auto;
    display: block;
    padding-bottom: 10vh;
    font-family: 'Dancing Script', cursive;
}

.page-about h3{
    color: darkgoldenrod;
    font-size: 3rem;
    font-weight: bolder;
}
.page-about img{
    width:300px;
    height: 300px;
}

.top{
    display: flex;
    flex-direction: row-reverse;
}

.bottom{
    display: flex;
}
/*parallax2*/

.parallax2 {
    background: url("../images/food.jpg");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    background-attachment: fixed;
    height: 50vh;
    width: 100%;
}


/*page-specials*/

.page-specials{
    margin-top: 10vh;
    margin-bottom: 10vh;
    height: 100vh;
}


.page-specialsImage{
    position: absolute;
    z-index: 1;
    overflow: hidden;
    height: 100vh;
}

.page-specialsImage img{
    backface-visibility: hidden;
}

.page-specialList{
    position: absolute;
    z-index: 2;
    background: white;
    padding: 7vh 7vw 10vh 15vw;
    font-family: 'Dancing Script', cursive;
}

.gold{
    color:darkgoldenrod;
    font-size: 3rem;
}
/*page-info*/

.page-info{
    max-width: 1080px;
    margin: 0 auto;
    display: block;
    padding-bottom: 10vh;
    font-family: 'Dancing Script', cursive;
}

.page-info h3{
    color: darkgoldenrod;
    font-size: 3rem;
    font-weight: bolder;
}
.page-info img{
    width:300px;
    height: 300px;
}




/*parallax3*/

.parallax3 {
    background: url("../images/party.jpeg");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    background-attachment: fixed;
    height: 50vh;
    width: 100%;
    margin-top: 10vh;
}


/*footer*/

footer{
    background: #333333;
    color:white;
    margin-top: 10vh;
}

footer:hover{
    color:darkgoldenrod;
}
footer>div{
    width: 50%;
}

.wrapper{
    width: 70%;
    max-width: 1300px;
    margin:0 auto;
    display: flex;
    padding: 10vh;
}
.wrapper img{
    width: 13vh;
}

.adress{
    font-family: 'Dancing Script', cursive;
    font-size: 1.5rem;
    font-weight: bolder;
}

.mail{
    text-decoration: none;
    color:white;
}

.social-media{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0 3vw;
}

.fb{
    width: 4vh;
}
.insta{
    width:5vh;
}
.trip{
    width:6vh;
}
.map{
    padding-left: 15vh;
}